<section class="features">
  <div class="feature-box">
    <i class="fa fa-check-circle"></i>
    <h3 data-i18n="features.authentic">Authentic products from Portugal</h3>
    <p>Sélection de produits authentiques directement du Portugal</p>
  </div>
  <div class="feature-box">
    <i class="fa fa-shipping-fast"></i>
    <h3 data-i18n="features.delivery">Fast delivery to France</h3>
    <p>Livraison rapide et sécurisée à votre domicile</p>
  </div>
  <div class="feature-box">
    <i class="fa fa-lock"></i>
    <h3 data-i18n="features.secure">Secure payment</h3>
    <p>Paiements sécurisés avec les meilleures passes</p>
  </div>
  <div class="feature-box">
    <i class="fa fa-headset"></i>
    <h3 data-i18n="features.support">Customer service in English</h3>
    <p>Assistance personnalisée en plusieurs langues</p>
  </div>
</section>

